*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
/* MENU */
header {
    width: 100vw;
    height: 196px;
    background-color: #303e6f;
}
.left {
    margin-left: 1070px;
    margin-top: 32px;
}
.initial img {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50px;
    top: 20px;
}
.initial img:hover {
    box-shadow: 0 0 5px #4c6ad7,
                0 0 25px #4c6ad7,
                0 0 50px #4c6ad7,
                0 0 200px #4c6ad7;
    transition: 0.5s;
    transform: scale(1.1);
}
/* BUTTON */
.left a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
.left a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.left a:nth-child(1){
    filter: hue-rotate(270deg);
}
.left a:nth-child(2){
    filter: hue-rotate(110deg);
}
.left a span{
    position: absolute;
    display: block;
}
.left a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.left a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.left a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.left a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/* CENTER */
.center {
    position: absolute;
    margin-top: 195px;
    margin-left: -1559px;
    width: 100vw;
    height: 600px auto;
}
.center img {
    width: 1300px;
    margin-left: 179px;
    margin-top: 1px;
}
/* SIDEBAR */
.menu2 {
    position: sticky;
    margin-top: 197px;
    margin-left: -1520px;
    width: 30px;
    height: 335px;
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    overflow: hidden;
    border-radius: 0 1rem 1rem 0;
    transition: width 0.75s ease;
}
.menu2 li{
    padding: 6px;
    margin-left: 20px;
}
.menu2 a{
    color: #FFF;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 0px 1px 4px rgba(112, 132, 204, 0.559);
}
.menu2 a:hover{
    color: #7084cc63;
    text-decoration: underline;
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.327);
}
.menu2:hover {
    width: 200px;
}
/* END */
.end {
    text-align: center;
    position: absolute;
    background-color: #181a1c;
    margin-top: 2220px;
    margin-left: -1396px;
    width: 100vw;
    height: 60px;
}
.end p {
    margin-top: 24px;
    color: #ffffff;;
}
/* SEARCH */
.text-box1 {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 230px;
    margin-top: 100px;
    font-weight: normal;
}
.text-box2 {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 1030px;
    margin-top: -548px;
    font-weight: normal;
}
.text-box3 {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 230px;
    margin-top: -90px;
    font-weight: normal;
}
.text-box4 {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 630px;
    margin-top: -288px;
    font-weight: normal;
}
.text-box5 {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 1038px;
    margin-top: -380px;
    font-weight: normal;
}
.text-box6 {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 258px;
    margin-top: 50px;
    font-weight: normal;
}
.text-box7 {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-left: 300px;
    font-weight: normal;
}
.text-box h2 {
    color: #242424;
    font-size: 27px;
}

.text-box p {
    color: #595959;
    font-size: 16px;
    margin-bottom: 12px;
    margin-left: -10px;
}
.ilustration img {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    position: absolute;
    width: 400px;
    height: 678px;
    margin-left: 577px;
    margin-top:  50px;
    border-radius: 10px;
}
.ilustration2 img {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 270px;
    margin-top: -223px;
    border-radius: 10px;
}
.ilustration3 img {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    position: absolute;
    width: 700px;
    height: 300px;
    margin-left: 620px;
    margin-top:  17px;
    border-radius: 10px;
}
